/* Universal Selector */

*{
    background-color:lavender;
    width: fit-content;
}
/* elemnt selector */
nav{
    background-color: rgb(150, 89, 174);
}

/* 
Descendent Selector */

nav li{
   list-style: none;
}
ul{
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    /* background-color: rgb(152, 56, 174); */
   gap: 50px;

}
/* combinator selector */
h1, h2{
    color: brown;
}

li{
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    
}
/* id selector */
#Hello{
  
   margin:auto;
 

   
 }
/*class selector */
.heading{
    /* display: flex; */
    left: auto;
    
    align-items: auto;
    justify-content: center;
    
}
/* Child Selector */

div>p{
    color:purple;
    text-align: center;
}
/* 
Descendent Selector */

div h2{
   
   margin-top: 10px;
   margin-bottom: 10px;
   margin-left: 50px;
   margin-right: 50px;
   /* margin: 10 10 50 50; */
 }
 a{
    padding: 0px;
    margin: 0px;
 }
/* 
 Pseudo Selctor */

 a:visited{
    color:rgb(11, 11, 73) ;
 }

 a:link{
   color:rgb(180, 42, 123)
 }

 p:first-child{
    background-color: rgb(194, 184, 203);
 }
 a:hover{
   background-color: rgb(205, 168, 168);
 }

 /* adjacenct Sibling */
 h2+p::first-line{
    text-decoration-line: underline;
    text-shadow:blanchedalmond;
 }
 /* General siblings */
 
 h1~p{
    background-color: rgb(225, 195, 225);
 }
/* Descendent*/
 /* div section{
    float: left;
 }

 section section{
    float:left;
 } */

 /* #sec1{
    float: left;
    width: 100px;
 }

 #sec2{
    float: right;
    width: 100px;
 } */

 /* a[href]{
 padding: 0px;
 margin: 0px;
 } */

 